/* Estilos generales*/
body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(28, 24, 41,0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/fondo.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
}

header {
    background-color: rgba(28, 24, 41,0.8);
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgba(28, 24, 41,0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .cards {
        justify-content: center;
    }

    .card {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-left: 20px;
        min-width: 420px; 
    }
}

/*CARDS*/
.contenido {
    text-align: center;
    max-width: 70%;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
}

p {
    font-size: 1rem;
    margin-top: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0,0.6); ;
    border-radius: 15px;
    background-color: rgba(0, 0, 0,0.6); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.card:hover{
    background-color: rgba(38, 77, 104, 0.6);
    border: transparent;
    transform: scale(1.05); 
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.spotify-button {
    display: inline-block;
    background-color: #1DB954;
    color: #fff;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 30px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.spotify-button:hover {
    background-color: #169c45;
}

.card-acerca-de {
    margin-bottom: 20px;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0,0.6); ;
    border-radius: 15px;
    background-color: rgba(0, 0, 0,0.6); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
}

.card-acerca-de:hover{
    background-color: rgba(38, 77, 104, 0.6);
    border: transparent;
    transform: scale(1.05); 
}

.card-acerca-de img{
    border-radius: 15px;
}